# ðŸ“¦ Import Libraries

In [4]:
import pandas as pd

from utils import DataFrameMemoryOptimizer

# ðŸ“Š Load and Preview Dataset

In [11]:
user_countries = pd.read_csv("data/user_countries.csv")
print("ðŸ“‚ Dataset: Users Countries")
print(f"Shape: {user_countries.shape}")
print(f"Columns: {user_countries.columns.tolist()}")
display(user_countries.head())
print('#'*100)


ab_data = pd.read_csv("data/ab_data.csv")
print("ðŸ“‚ Dataset: A/B data")
print(f"Shape: {ab_data.shape}")
print(f"Columns: {ab_data.columns.tolist()}")
display(ab_data.head())
print('#'*100)

ðŸ“‚ Dataset: Users Countries
Shape: (290586, 2)
Columns: ['user_id', 'country']

   user_id country
0   834778      UK
1   928468      US
2   822059      UK
3   711597      UK
4   710616      UK

####################################################################################################
ðŸ“‚ Dataset: A/B data
Shape: (294480, 5)
Columns: ['user_id', 'timestamp', 'group', 'landing_page', 'converted']

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

####################################################################################################

# ðŸ’¾ Memory Optimization

In [ ]:
user_countries_optimizer = DataFrameMemoryOptimizer(user_countries)
optimized_user_countries = user_countries_optimizer.optimize()

ab_data_optimizer = DataFrameMemoryOptimizer(ab_data)
optimized_ab_data = ab_data_optimizer.optimize()

# ðŸ§¾ Basic Info and Descriptive Statistics